:root {
	font-family: 'Hanken Grotesk', system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--foreground: #09090b;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	overflow: hidden;
}

html {
	font-size: calc(100vw / 1920 * 10);

	@media screen and (max-width: 992px) {
		font-size: calc(100vw / 992 * 20);
	}
}

body {
	height: 100vh;
	height: 100dvh;
	max-height: 100vh;
	max-height: 100dvh;
	color: var(--foreground);
}

#app {
	width: 100%;
	height: 100%;
	position: relative;
}

canvas {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 32px;
	z-index: 2;
	display: flex;
	justify-content: space-between;
}

a,
a:visited {
	color: var(--foreground);
}

h1 {
	font-size: 1.6rem;
	line-height: 1;
}

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 2;
	padding: 32px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.btns {
	display: flex;
	align-items: center;
	gap: 16px;

	.demo-btn {
		font-family: inherit;
		background: none;
		border: none;
		font-size: 1.6rem;
		cursor: pointer;
		opacity: 0.5;
		transition: 250ms ease;

		&:hover,
		&.is-active {
			opacity: 1;
		}
	}
}
.carousel {
	width: fit-content;
	position: fixed;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	// flex-direction: column;
	// align-items: center;

	&__slide {
		position: relative;
		width: calc((500 / 1920) * 100vw);
		aspect-ratio: 500 / 670;
		flex-shrink: 0;
		overflow: hidden;

		@media screen and (max-width: 992px) {
			width: calc((400 / 992) * 100vw);
		}
	}

	&__figure {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		width: calc(100% - (24 / 1920) * 100vw);
		height: 100%;
	}

	&__image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
}
